<div class="list-margin">

  <div class="dashboard">
    <h3 style="text-align:left;"> Your next stay</h3><br>
    <p>Looks like you haven't planned any trip. Time to get some inspiration.</p><br>
    <span id="button-red"><%= link_to "Plan your next trip", flats_path %></span>
    <br><br><br><br><br>
  </div>

</div>
