.list-margin {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  // min-height: 90vh;
}


.display-index {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
