// Specific CSS for your home-page
body, html {
  // height: 640px;
}

.box h1 {
  color: #710627;
  font-size: 40px;
  margin: 0 0 5px 0;
  text-align: left;
}

.bg-img {
  /* The image used */
  // background-image: url("https://cdn.allwallpaper.in/wallpapers/2880x1800/14421/the-perfect-beach-2880x1800-wallpaper.jpg");
  background-image: url("https://s3.gifyu.com/images/MadeToStay.gif");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  height: 350px;
  margin-top: 40px;
  margin-bottom: 120px;
  opacity: 0.8;
}

