h1 {
  text-align: center;
  margin-bottom: 58px;
}

.container {
  border-radius: 20px;
  background-color: #a59898;
  padding: 100px 150px;
  margin: 80px auto;
  margin-top: 50px;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#book {
  &:hover {
    border-color: #D3D3D3;
    background-color: #D3D3D3;
  }
  border-color: white;
  background-color: white;
  color: #5e5b5b;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  left: 40%;
  margin-top: 30px;
}

#couple {
  &:hover {
    border-color: #D3D3D3;
    background-color: #D3D3D3;
  }
  border-color: white;
  background-color: white;
  color: #5e5b5b;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px 15px;
}

.move {
  font-size: 20px;
}
