.card-trip {
  position: relative;
  left: 25px;
  width: 90%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.card-trip > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 2px;
}

.card-trip p {
  font-size: 17px;
  opacity: .7;
  margin: 2px;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip .card-trip-pricing {
  font-size: 20px;
}

.btn a {
  text-decoration: none;
  color: white;
  &:active {
    background-color: #847878;
    border-color: #847878;
    color: white;
  }
}

.btn-primary {
  &:active {
    background-color: #847878;
    border-color: #847878;
    color: white;
  }
  &:hover {
    background-color: #847878;
    border-color: #847878;
    color: white;
  }
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
  position: relative;
  left: 627px;
  background-color: #a59898;
  border-color: #a59898;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-success {
  &:active {
    background-color: #847878;
    border-color: #847878;
    color: white;
  }
  &:hover {
    background-color: #847878;
    border-color: #847878;
    color: white;
  }
  width: 100%;
  background-color: #a59898;
  border-color: #a59898;
  color: white;
}

