<div class="form-inline input-form">
  <%= simple_form_for([@flat, @booking]) do |f| %>
    <%= f.input :move_in_date, label: 'Start', as: :string,   input_html: { id:"start_date", class: "input-fields"} %>
    <%= f.input :move_out_date, label: 'End', as: :string,  input_html: { id:"end_date", class: "input-fields"}%>
    <br>
    <%= f.submit class: "btn-book text-alignment", id: "  book" %>
    <% end %>
</div>
