  <div class="list-margin">
    <h1 style="padding-left: 20px;">Accomodations</h1>
    <p style="padding-left: 20px;">Explore cities you never want to leave.</p>
    <div class="display-index">
      <%= render 'shared/card' %>
      <div
      id="map"
      style="width: 50%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>


