<body style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('https://www.slc.gov/fire/wp-content/uploads/sites/47/2018/11/fireworks.jpg')">

<div class="container">
  <h1>Your Booking</h1>

  <%= render 'form', booking: @booking %>
</div>

</body>
