<!-- <div class="card-flat">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-flat-infos">
    <div>
      <p>Berlin ****</p>
      <h2>Nice room in PrenzlauerBerg</h2>
      <p>Cozy, nice, blabla, placeholder.</p>
    </div>
    <h2 class="card-flat-pricing">99</h2>
  </div>
</div>
 -->
 <div class="row">
  <% @flats.each do |flat| %>
  <div class="col-md-3">
    <div class="card-flat my-3">
      <%= cl_image_tag flat.photo %>
<!--       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"> -->
      <div class="card-flat-infos">
        <div id="card-rating">
          <p><%= link_to flat.city, flat %></p>
          <h2><%= link_to flat.title, flat %></h2>
          <%#= raise %>
          <% flat.average_rating.times do %>
          <i class="fas fa-star"></i>
          <% end %> <%if flat.sum_rating == 0 %>
          <p><em>No ratings yet</em></p>
          <% else%> <%=  flat.sum_rating  %>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>

