<div class = "footer">
  <img src="sloth_logo.png" alt="Sloth" style="height:50px">
  <h4>Made to stay</h4>
    <ul class = "icons-inline">
      <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></i></a></li>
      <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></i></a></li>
    </ul>
  </div>
</div>

