
<div class="list-margin">
  <body class="bg-img">
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <h1>Made to stay.</h1>
          <p>This is a placeholder.<br>Form, form, form.</p>
          <button>Click me</button>
        </div>
      </div>
    </div>
  </body>
</div>


