
<div class="list-margin">
  <body class="bg-img">
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <h1>Made to stay.</h1>
          <p>You can't search for anything yet.<br>But if you click on button, it will show you all flats.</p> <br>
          <span id="button"><%= link_to "Click me", flats_path %></span>
        </div>
      </div>
    </div>
  </body>
</div>


