<body class="bg-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.allwallpaper.in/wallpapers/2880x1800/14421/the-perfect-beach-2880x1800-wallpaper.jpg);">
    <h1>Pages#home</h1>
</body>




