#button {
  color: black;
  border: 2px solid #710627;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 12px 25px;
  border-radius: 10px;
}


#button:hover {
  background-color: #710627;
  color: white;
}

#button a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#button:hover a {
  color: white;
}
