.card-flat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 255px;
  transform: scale(1);
  transition: transform 150ms linear;
}

.card-flat:hover {
 transform: scale(1.1);
 transition: transform 150ms linear;
 // animation-name: pokebowl;
 // animation-duration: 1s;
 // animation-iteration-count: infinite;
}

// @keyframes pokebowl {
//   0% {transform: rotate(0deg)}
//   50% {transform: rotate(360deg)}
//   100% {transform: rotate(0deg)}
// }


.card-flat h2 {
  color: black !important;
}

.card-flat > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-flat h2 {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}

.card-flat p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  opacity: .7;
  margin: 0;
  padding-bottom: 3px;
  color: #721727 !important;
}


.card-flat .card-flat-infos {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-flat .card-flat-infos i {
  color: #710627;
  font-size: 12px;
}

.card-flat .card-flat-infos p {
  font-size: 12px;
}


#card-rating {
  font-size: 12px;
}

td {
  vertical-align: middle;
}


.rating {
  color:black;
  }
  
a {
  &:hover {
    color:black;
  }
  color: black;
}
