.card-flat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-flat > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-flat h2 {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-flat p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  opacity: .7;
  margin: 0;
}


.card-flat .card-flat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-flat-infos .card-flat-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
