.card-flat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 265px;
}

.card-flat a {
  color: black;
}

.card-flat > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-flat h2 {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}

.card-flat p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  opacity: .7;
  margin: 0;
  padding-bottom: 3px;
}


.card-flat .card-flat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-flat .card-flat-infos i {
  color: #710627;
  font-size: 12px;
}

.card-flat .card-flat-infos p {
  font-size: 12px;
}


#card-rating {
  font-size: 12px;
}


td {
  vertical-align: middle;
}
