.card-flat-dashboard {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 325px;
  transform: scale(1);
  transition: transform 150ms linear;
}

.card-flat-dashboard:hover {
  transform: scale(1.05);
  transition: transform 150ms linear;
}

.card-flat-dashboard a {
  color: black;
}

.card-flat-dashboard-img {
  height: 150px !important;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-flat-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-flat-dashboard p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-bottom: 3px;
}


.card-flat-dashboard-infos {
  padding: 16px;
  display: flex;
  // justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-flat-dasboard-infos i {
  color: #710627;
  font-size: 10px;
}

.card-flat-dashboard-infos p {
  font-size: 12px;
}


#card-dashboard-rating i{
  font-size: 12px;
  padding: 0px;
}



