.navbar {
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-trans {
  background-color: transparent;
}

#nav {
  z-index: 1000;
}
