<ul>
  <%# raise %>
  <% @reviews.each do |b| %>

    <li>
      <%= b.description %>
      <%= b.stars %>
      <%= link_to "x", review_path(b), method: :delete, data: { confirm: 'are you sure' } %>

    </li>

  <% end %>
</ul>
