<body  style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('https://ui-ex.com/images/texas-drawing-skyline-2.png')">

  <div class="container">
    <h1>YOUR REVIEW</h1>

    <%= render 'form' %>
  </div>

</body>
