<body style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url('https://ui-ex.com/images/texas-drawing-skyline-2.png')" >
  <div class="container">
    <h1>Your new Review</h1>
    <ul class="list-unstyled">
      <li>
        <p style="font-size: 20px;"><%= @review.description %></p>
        <p><%= @review.stars %>  <i class="fas fa-star"></i> </p>
      </li>
    </ul>



      <div class="flexbox" id="review-back-btn">
          <%= link_to "Delete Review", flat_review_path(@flat), method: :delete, data: { confirm: 'are you sure' } %>

          <%= link_to "Back", flat_path(@flat) %>
      </div>
  </div>
</body>
